@font-face {
    font-family: Fuji-Medium;
    src: url(../fonts/Fuji-Medium.otf);
}
@font-face {
    font-family: Fuji-Regular;
    src: url(../fonts/Fuji-Regular.otf);
}
@font-face {
    font-family: Fuji-Light;
    src: url(../fonts/Fuji-Light.otf);
}
@font-face {
    font-family: Patroit-Medium;
    src: url(../fonts/Patriot-Medium.otf);
}
@font-face {
    font-family: Patroit-Normal;
    src: url(../fonts/Patriot-Normal.otf);
}

body{
    background-size: 100% auto;
    background-position: top;
    margin: 0;
    background-color: #1a1a1a;
}

.container {
    display: flex;
    justify-content: space-between;
}

.boxes{
    background-color: #000000CC;
    border-radius: 12px;
    padding: 12px;
    margin-top: 16px;
}

a{
    text-decoration: none;
}

h1{
    font-family: Fuji-Light;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #F4F0ED;
    margin: 0px 0px 0px 0px;
}

h2{
    font-family: Patroit-Normal;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    color: #F4F0ED;
    margin: 0px 0px 8px 0px;
}

h4{
    font-family: Fuji-Medium;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    color: #F4F0ED;
    margin: 0;
}

h5{
    font-family: Fuji-Light;
    font-weight: 100;
    font-size: 16px;
    text-align: left;
    color: #F4F0ED;
    margin: 0;
}

h6{
    font-family: Fuji-Light;
    font-weight: 100;
    font-size: 12px;
    text-align: left;
    color: #F4F0ED88;
    margin-bottom: 8px;
}

p{
    font-family: Fuji-Light;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px ;
    text-align: left;
    color: #F4F0ED;
    margin: 0;
}


#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #ffffff;
    cursor: pointer;
    margin: 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.controlic {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ffffff66;
    border-radius: 8px 8px 0 0;
    margin-bottom: -12px;
}

.controlic div {
    width: 40px;
    height: 40px;
    padding: 00px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1);
    color: #ffffff;
    margin: 16px;
}


#playicon{
    background-color: #ffffff;
    color: #000000;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
}